{
  "DAEMON_LISTENING_PORT": 6207,
  "ETHEREUM_JSON_RPC_ENDPOINT": "https://kovan.infura.io",
  "AGENT_CONTRACT_ADDRESS": "0xca0b3c374fbc0b168e0f5f616580E330cdDB0479",
  "PASSTHROUGH_ENDPOINT": "http://127.0.0.1:6107",
  "PASSTHROUGH_ENABLED": true,
  "BLOCKCHAIN_ENABLED": true,
  "LOG_LEVEL": 1,
  "PRIVATE_KEY": "#PRIVATEKEY GOES HERE"
}
