{
  "DAEMON_LISTENING_PORT": 6208,
  "ETHEREUM_JSON_RPC_ENDPOINT": "https://kovan.infura.io",
  "AGENT_CONTRACT_ADDRESS": "0x579877FE59dcFcee331e890b3120e30e3971bc40",
  "PASSTHROUGH_ENDPOINT": "http://127.0.0.1:6107",
  "PASSTHROUGH_ENABLED": true,
  "BLOCKCHAIN_ENABLED": true,
  "LOG_LEVEL": 1,
  "PRIVATE_KEY": "#PRIVATEKEY GOES HERE"
}
